# =========================================================================
# GENERAL & IDEs
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-workspace

# BACK-END (NestJS) & FRONT-END (Angular)
node_modules/
dist/
build/
.angular/
/coverage
/.nyc_output
back-end/generated/

# Variables de entorno (¡Crítico no subirlas!)
.env
.env.local
.env.*.local
**/.env

# Logs y temporales
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# AGENTE PYTHON
env/
venv/
__pycache__/
*.pyc
